<!DOCTYPE html>
<html style="font-size: 16px;">
    <body>
        <header>
            <h1>
               <span class="u-align-center">Accueil</span> 
            </h1>
        </header>
    </body>
</html>