@model StorytellingWebApp.Models.Story

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomStory)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.TextStory)
            </th>
               <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.NomStory)
            </td>
             <td>
                @Html.DisplayFor(modelItem => modelItem.TextStory)
            </td>
            <td>
                
            </td>

        </tr>

    </tbody>
</table>
