@model StorytellingWebApp.Models.ChapitreCreationVM

<h1>Details</h1>



<section class="u-clearfix u-section-2" id="sec-6fad">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Chapitre</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="400" data-image-height="265">
                <div style="align-content:center">@Html.DisplayFor(modelItem => modelItem.image.NomImage)</div>
                <div class="u-container-layout u-valign-top u-container-layout-1">
                    <img src="@Html.DisplayFor(modelItem => modelItem.image.Uri)" style="height:300px;width:400px"/>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-2"> @Html.DisplayFor(modelItem => modelItem.story.NomStory)</h2>
                  <p class="u-text u-text-default u-text-3">  @Html.DisplayFor(modelItem => modelItem.story.TextStory)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<span id="Quotes">
    <br />
    <button class="btn-primary" id="Trigger"> Quote </button>
    <br />
</span>
<br />
<br />

<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>

$(document).ready(function () {
    let $Span = $('#Quotes')
    let Url = 'https://quotes15.p.rapidapi.com/quotes/random/'
    let $footer = $('footer #errorMsg')
    function addElmt(elemt) {
        if (elemt == null) { alert("data not found"); }
        AlreadyThere();
        $Span.append("<div id=quoteCase>");
        $Span.append("<br />");
        $Span.append("<p >" + elemt.content + "</p>");
        $Span.append("<br />");
        $Span.append("<h5>" + elemt.originator.name + "</h5>");
        $Span.append("</div>")
    };
    function AlreadyThere(){
        let existElmt=$('#quoteCase')
        $Span.empty();
    };

    $('#Trigger').on('click', function () {

        const settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://quotes15.p.rapidapi.com/quotes/random/",
            "method": "GET",
            "headers": {
                "X-RapidAPI-Host": "quotes15.p.rapidapi.com",
                "X-RapidAPI-Key": "26d658afa9msh2390603ead6f874p1b48fdjsn369ee6b4749f"
            }
        };

        $.ajax(settings).done(function (response) {
            addElmt(response);
        });
    });


});
</script>

@*<select class="form-control" id="Fonts" name="Fonts">
    <option>Select Font</option> 
</select>*@

@{
    
}

