@model StorytellingWebApp.Models.StoryTell
<h1>Create</h1>

<h4>Storytell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="IdStoryTelling" class="control-label"></label>
                <input asp-for="IdStoryTelling" class="form-control"/>
                <span asp-validation-for="IdStoryTelling" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="NameStory" class="control-label"></label>
                <input asp-for="NameStory" class="form-control"/>
                <span asp-validation-for="NameStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="GetDepotByPays" asp-route-id="@Model.IdPays">Back to All Depot</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


